//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 23 16:42:27 2025
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "dp" LOCATE = SITE "A5" LEVEL 1;
COMP "OUT<0>" LOCATE = SITE "A3" LEVEL 1;
COMP "en" LOCATE = SITE "K18" LEVEL 1;
COMP "A<0>" LOCATE = SITE "D18" LEVEL 1;
COMP "OUT<1>" LOCATE = SITE "B4" LEVEL 1;
COMP "A<1>" LOCATE = SITE "D17" LEVEL 1;
COMP "OUT<2>" LOCATE = SITE "A4" LEVEL 1;
COMP "A<2>" LOCATE = SITE "C18" LEVEL 1;
COMP "OUT<3>" LOCATE = SITE "C4" LEVEL 1;
COMP "A<3>" LOCATE = SITE "C17" LEVEL 1;
COMP "OUT<4>" LOCATE = SITE "C5" LEVEL 1;
COMP "B<0>" LOCATE = SITE "F17" LEVEL 1;
COMP "OUT<5>" LOCATE = SITE "D6" LEVEL 1;
COMP "B<1>" LOCATE = SITE "F18" LEVEL 1;
COMP "OUT<6>" LOCATE = SITE "C6" LEVEL 1;
COMP "B<2>" LOCATE = SITE "E16" LEVEL 1;
COMP "B<3>" LOCATE = SITE "E18" LEVEL 1;
SCHEMATIC END;

